<div class="grid p-4 div-principal">
  <p-card class="col-12 sm:col-12 md:col-10 lg:col-8 xl:col-6">

    <div class="field grid mb-3">
      <div class="col">
        <span class="p-float-label" id="span1">
          <input class="w-full" type="text" id="nombre" pInputText [(ngModel)]="dish.nombre" > 
          <label for="nombre">Nombre</label>
        </span>
      </div>
    </div>

    <div class="field grid mb-3">
      <div class="col">
        <span class="p-float-label" id="span2">
          <input class="w-full" type="text" id="precio aproximado" pInputText [(ngModel)]="dish.precio"> 
          <label for="precio">Precio aproximado</label>
        </span>
      </div>
    </div>

    <div class="field grid mb-3">
      <div class="col">
        <span class="p-float-label" id="span2">
          <input class="w-full" type="text" id="img" pInputText [(ngModel)]="dish.img"> 
          <label for="img">imagen (link)</label>
        </span>
      </div>
    </div>

    <div class="field" class="form-group">
      <button pButton type="button" (click)="createDish(dish)">Sugerir</button>
    </div>

  </p-card>
</div>
