<div class="div p-8">
    <div class="p-5 grid">
        <div class="p-card col-6">
            <div class="grid texto">
                <div class="col-12 text-center title">
                        En construcción
                </div>
                <div class="m-0 text-justify col-6">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                </div>
                <div class="m-0 text-justify col-6 paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                </div>
            </div>
        </div>
        <div class="col-6 p-d-flex p-justify-center p-align-center">
            <img class="chef" src="../../assets/chef.jpg">
        </div>
    </div>
</div>

