
<p-card class="form-group" [style]="{'margin':'auto', 'width':'60%', 'text-align':'center'}">
    <p-table [value]="emails" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Nuestros clientes</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person let-i="index">
            <tr>
                <td>{{person[1]?.email}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

   
    
