p-table{
    min-width: 50rem
}
.align-centre{
    text-align: center;
}
p-card{
    margin:auto; 
    width:'60%'; 
    text-align:center
}
.div-principal{
    justify-content: center; 
    text-align:center
}
  