<p-sidebar [(visible)]="sidebarVisible">
    <h3>Menú principal</h3>
    <p-accordion>

        <p-accordionTab header="Registro / Acceso">
            <a routerLink="/" class="hover:text-yellow-600" style="color: black; text-decoration: none;" (click)="click()">
                Registrarse / Acceder                               
            </a>
        </p-accordionTab>

        <p-accordionTab header="Los clientes dicen">
            <a routerLink= "/lsproducts" class="hover:text-yellow-600" style="color: black; text-decoration: none;"(click)="click()">
                Sugerencias de clientes                      
            </a>
        </p-accordionTab>

        <p-accordionTab header="Nuestros clientes">
            <a routerLink="/lsclients" class="hover:text-yellow-600" style="color: black; text-decoration: none;" (click)="click()">
                Nuestros clientes
            </a>
        </p-accordionTab>
        
        <p-accordionTab header="Actualizar mi información" [hidden]="permiso" >
            <a routerLink="/update" class="hover:text-yellow-600" style="color: black; text-decoration: none;" (click)="clickActualizar()">
                Actualizar mi información
            </a>
        </p-accordionTab>

        <p-accordionTab header="Darse de baja" [hidden]="permiso"  >
            <a routerLink="/delete" class="hover:text-yellow-600" style="color: black; text-decoration: none;" (click)="clickBorrar()">
                Darme de baja
            </a>
        </p-accordionTab>

        <p-accordionTab header="Sugerencias de platillos" [hidden]="permiso" >
            <a routerLink="/formsuggest" class="hover:text-yellow-600" style="color: black; text-decoration: none;" (click)="click()">
                Sugiera platillos
            </a>
        </p-accordionTab>
    </p-accordion>

</p-sidebar>

<p-dialog header="Baja" [(visible)]="showModal" [modal]="true">

    <label>¿Seguro que quiere darse de baja?</label>
    <div>
      <button type="button" 
        pButton label="Aceptar" 
        class="boton-registrar-aceptar"
        (click)="deleteUser()"
        class="button-aceptar"
        severity="danger"
        style="margin-right: 1rem;">
      </button>

      <button type="button" 
        pButton label="Cancelar" 
        (click)="showModal = false">
      </button>
    </div>
</p-dialog>

<p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
