<div class="grid p-4 div-principal">
  <p-card class="col-12 sm:col-12 md:col-10 lg:col-8 xl:col-6" header="Acceda">

    <div class="field grid mb-3">
      <div class="col">
        <span class="p-float-label" id="span1">
          <input class="w-full" type="text" id="email" pInputText [(ngModel)]="user.email"> 
          <label for="email">E-mail</label>
        </span>
      </div>
    </div>

    <div class="field grid mb-3">
      <div class="col">
        <span class="p-float-label" id="span2">
          <input class="w-full" type="password" id="motPasse" pInputText [(ngModel)]="user.password"> 
          <label for="motPasse">Contraseña</label>
        </span>
      </div>
    </div>

    <div class="field grid">
        <div class="col">
          <button pButton type="button" 
                  for="card-main" 
                  class="w-full botones shadow-4" 
                  (click)="loginUser(user)">Acceder
          </button>
        </div>
    </div>

    <div class="field" class="form-group">
      <a class="hover:text-yellow-600" for="card-main" (click)="show()">Registrarse</a>
    </div>
  </p-card>
</div>

<!--menú para crear usuario-->
<p-dialog header="Regístrese" [(visible)]="showModal" [modal]="true">
  <form>
    <div>
      <input type="text" 
              id="username" 
              name="username" 
              [(ngModel)]="user.email" 
              placeholder="E-mail"
              class="mb-3"
      pInputText>
    </div>

    <div>
      <input type="password" 
            id="password" 
            name="password" 
            [(ngModel)]="user.password" 
            placeholder="Contraseña"
      pInputText>
    </div>

    <button type="button" 
            pButton label="Aceptar" 
            class="boton-registrar-aceptar" 
            (click)="clickCreate()">
    </button>

    <button type="button" 
            pButton label="Cancelar" 
            class="boton-registrar-cancelar" 
            (click)="showModal = false">
    </button>
  </form>
</p-dialog>



